@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h4>"Autodidactism is the only rational response for an inquisitive mind" - Noam Chomsky</h4>

<p> Autodidacticism (also autodidactism) or self-education (also self-learning and self-teaching) is 
    education without the guidance of masters (such as teachers and professors) or institutions (such as 
    schools). Generally, an autodidact is an individual who chooses the subject he or she will study, his 
    or her studying material, and the studying rhythm and time. An autodidact may or may not have formal 
    education, and his or her study may be either a complement or an alternative to it.</p>

<p> Accordingly, this page exists as a record of what I am currently learning or have recently learnt.
    At the moment my studies are primarily focussed on computer programming (specifically C# and .net Core) 
    and this page will serve as a living experiment to be tweaked, broken and rebuilt as I learn.  
    Other interests include literature and producing my own alcohol and tobacco products.</p>

<p> Central to the idea of Autodidacticism is that one is always learning, that one never has all the
    answers and that there are always better ways to approach problems.  If, on reading an article here,
    you find something you disagree with or where you have a better methodology.  Please get in touch, through
    the @Html.ActionLink("contact", "Home", "Contact") page.  I'd love to learn with you!</p>