@{
    ViewData["Title"] = "The Autodidact";
}
<div class="jumbotron">
    <img src="~/images/trincrop.jpg" alt="Trinity Library" style="image-resolution"/>
</div>

<div class="text-left">
    <h3>
        "Only the autodidacts are free...."
    </h3>
</div>
<div class="text-left">
    <h4>
        Nassim Nicholas Taleb
    </h4>
</div>
