@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-danger">Access Denied.</h1>
    <p class="text-danger">You do not have access to this resource.</p>
    <p>If you wish to contribute to The Autodidact, please <href=("/Home/Contact")>contact</href> us</p>
</header>
